<div class="page-body">
  <div class="row">
      <div class="col-md-6 col-xl-3">
          <div class="card bg-c-grey order-card">
            <div class="card-block">
              <h6 class="m-b-20 text-muted">Data Refresh Rate</h6>
              <h2 class="text-right text-muted"><img class="d-flex align-self-center img-fluid" src="assets/images/refresh.png" width="100" height="100"><span>{{refreshRate}} seconds</span></h2>
              <input type="text" class="form-control m-b-20 m-t-20" placeholder="New Rate In Seconds" #rate>
              <button class="btn btn-primary btn-sm btn-round" (click)="changeRefreshRate(rate.value)">Update Refresh Rate</button>
            </div>
          </div>
        </div>
  </div>
</div>