<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20"># of Shards Being Mined</h6>
          <h2 class="text-right"><img class="d-flex align-self-center img-radius img-fluid" src="assets/images/shard.png" width="100" height="100"><span>{{chainEntries.length}}</span></h2>
          <p class="m-b-0">Other Avaliable Shards<span class="f-right">{{totalShardsAvaliable}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Average Hashrate</h6>
          <h2 class="text-right"><img class="d-flex align-self-center img-radius img-fluid" src="assets/images/hashrate.png" width="100" height="100"><span>{{hashrate}} Mh/s</span></h2>
          <p class="m-b-0">Network Average<span class="f-right">{{netAvgHashrate}} Mh/s</span></p>
          <!-- 1 kH/s is 1,000 (one thousand) hashes per second
               1 MH/s is 1,000,000 (one million) hashes per second.
               1 GH/s is 1,000,000,000 (one billion) hashes per second.
               1 TH/s is 1,000,000,000,000 (one trillion) hashes per second.
               1 PH/s is 1,000,000,000,000,000 (one quadrillion) hashes per second.
               1 EH/s is 1,000,000,000,000,000,000 (one quintillion) hashes per second. -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Statuses</h6>
          <h4 class="m-b-0">Active<span class="f-right">{{totalActive}}</span></h4>
          <h4 class="m-b-0">Paused<span class="f-right">{{totalPaused}}</span></h4>
          <h4 class="m-b-0">Awaiting Responses<span class="f-right">{{totalAwaitingResponses}}</span></h4>
          <h4 class="m-b-0">Failed<span class="f-right">{{totalFailed}}</span></h4>
        </div>
      </div>
    </div>
    <!-- order-card end -->

    <!-- tabs card start -->
    <div class="col-sm-12">
      <app-card [cardClass]="'tab-card'" [cardOptionBlock]="true">
        <div class="md-tabs">
          <ngb-tabset>
            <ngb-tab title="Polls You Are Mining">
              <ng-template ngbTabContent>
                <ng-template [ngIf]="chainEntries.length === 0">
                    <h3 class="text-center mt-5 mb-3">You Aren't Working On Any Chains. Fetch A Shard To Work On Below.</h3>
                </ng-template>
                <ng-template [ngIf]="chainEntries.length !== 0">
                  <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <th>Chain Type</th>
                          <th>ID</th>
                          <th>Height</th>
                          <th>Last Updated</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                        <tr *ngFor="let entry of chainEntries;">
                          <td><img src="assets/images/{{entry.type}}.png" class="img-fluid" width="50" height="50"></td>
                          <td>{{entry.id}}</td>
                          <td>{{entry.height}}</td>
                          <td>{{entry.lastUpdated}}</td>
                          <td><span [ngClass]="{'label': true, 'label-success': entry.status == 'Active', 'label-warning': entry.status == 'Paused',
                            'label-primary': entry.status == 'Awaiting Responses', 'label-danger': entry.status == 'Failed'}">{{entry.status}}</span></td>
                          <div *ngIf="entry.status === 'Active'">
                              <td><span class="label label-warning" (click)="pauseShard(entry.id)">Pause</span> <span class="label label-danger" (click)="deleteShard(entry.id)">Delete</span></td>
                          </div>
                          <div *ngIf="entry.status === 'Paused'">
                              <td><span class="label label-success" (click)="startShard(entry.id)">Start</span> <span class="label label-danger" (click)="deleteShard(entry.id)">Delete</span></td>
                          </div>
                          <div *ngIf="entry.status === 'Awaiting Responses'">
                              <td><span class="label label-danger" (click)="deleteShard(entry.id)">Delete</span></td>
                          </div>
                          <div *ngIf="entry.status === 'Failed'">
                              <td><span class="label label-primary" (click)="reviveShard(entry.id)">Revive</span> <span class="label label-danger" (click)="deleteShard(entry.id)">Delete</span></td>
                          </div>
                        </tr>
                      </table>
                    </div>
                </ng-template>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Available Polls">
                <ng-template ngbTabContent>
                  <ng-template [ngIf]="chainEntries.length === 0">
                      <h3 class="text-center mt-5 mb-3">You Aren't Working On Any Chains. Fetch A Shard To Work On Below.</h3>
                  </ng-template>
                  <ng-template [ngIf]="chainEntries.length !== 0">
                    <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th></th>
                            <th>Poll Hash</th>
                            <th>Number of Miners</th>
                            <th>Difficulty</th>
                            <th>Poll Name</th>
                          </tr>
                          <tr *ngFor="let shardInfo of avaliableShards;">
                            <td><img src="assets/images/poll.png" class="img-fluid" width="50" height="50"></td>
                            <td>{{shardInfo.pollHash}}</td>
                            <td>{{shardInfo.numMiners}}</td>
                            <td>{{shardInfo.difficulty}}</td>
                            <td>{{shardInfo.pollName}}</td>
                            <td><span class="label label-primary" (click)="importShard(shardInfo.pollHash)">Import Shard</span></td>
                          </tr>
                        </table>
                      </div>
                  </ng-template>
                </ng-template>
              </ngb-tab>
          </ngb-tabset>
        </div>
      </app-card>
    </div>
    <!-- tabs card end -->
  </div>
</div>
