<simple-notifications [options]="options"></simple-notifications>
<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20"># of Shards Being Mined</h6>
          <h2 class="text-right"><img class="d-flex align-self-center img-radius img-fluid" src="assets/images/shard.png" width="100" height="100"><span>12</span></h2>
          <p class="m-b-0">Total Avaliable Shards<span class="f-right">150</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Blocks Found</h6>
          <h2 class="text-right"><img class="d-flex align-self-center img-radius img-fluid" src="assets/images/block.png" width="100" height="100"><span>23</span></h2>
          <p class="m-b-0">Total Imported<span class="f-right">100</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Earnings Today</h6>
          <h2 class="text-right"><img class="d-flex align-self-center img-fluid" src="assets/images/earnings.png" width="100" height="100"><span>$230</span></h2>
          <p class="m-b-0">This Month<span class="f-right">$5400</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Statuses</h6>
          <p class="m-b-0">Active<span class="f-right">2</span></p>
          <p class="m-b-0">Paused<span class="f-right">1</span></p>
          <p class="m-b-0">Failed<span class="f-right">0</span></p>
        </div>
      </div>
    </div>
    <!-- order-card end -->

    <!-- tabs card start -->
    <div class="col-sm-12">
      <app-card [cardClass]="'tab-card'" [cardOptionBlock]="true">
        <div class="md-tabs">
          <ngb-tabset>
            <ngb-tab title="Activity">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Chain Type</th>
                        <th>ID</th>
                        <th>Last Updated</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/mainchain.png" alt="prod img" class="img-fluid" width="50" height="50"></td>
                        <td>main</td>
                        <td>05-01-2017</td>
                        <td><span class="label label-warning">Paused</span></td>
                        <td><span class="label label-success">Start</span> <span class="label label-warning">Pause</span> <span class="label label-danger">Delete</span></td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/shard.png" alt="prod img" class="img-fluid" width="50" height="50"></td>
                        <td>0x23af69fa526bbf12372e</td>
                        <td>04-01-2017</td>
                        <td><span class="label label-success">Active</span></td>
                        <td><span class="label label-success">Start</span> <span class="label label-warning">Pause</span> <span class="label label-danger">Delete</span></td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/shard.png" alt="prod img" class="img-fluid" width="50" height="50"></td>
                        <td>0xfa526bbf123af69fa23</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-success">Active</span></td>
                        <td><span class="label label-success">Start</span> <span class="label label-warning">Pause</span> <span class="label label-danger">Delete</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </app-card>
    </div>
    <!-- tabs card end -->
  </div>
</div>
