<div class="page-body">
  <div class="row">
    <!-- Wallet Cards Start -->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Balance</h6>
            <h2 class="text-right"><img class="d-flex align-self-center img-fluid" src="assets/images/earnings.png" width="100" height="100"><span>{{balance}} POL</span></h2>
            <h6 class="m-b-0">Converted To Dollars<span class="f-right">${{balanceInDollars}}</span></h6>
          </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20"># of Wallets</h6>
            <h2 class="text-right"><img class="d-flex align-self-center img-fluid" src="assets/images/wallet1.png" width="100" height="100"><span>{{totalWallets}}</span></h2>
            <h6 class="m-b-0"><span class="label label-warning">Export All Wallets</span></h6>
          </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card order-card">
          <div class="card-block">
            <h6 class="m-b-20 text-muted">Initiate Payout</h6>
            <h2 class="text-right m-t-20 m-b-20"><img class="d-flex align-self-center img-fluid" src="assets/images/payout.png" width="100" height="100"></h2>
            <h6 class="m-t-20"><span class="label label-success">Initiate Withdrawal</span></h6>
          </div>
        </div>
    </div>
    <!-- Wallet Cards End -->

    <!-- Wallets Table Start -->
    <div class="col-sm-12">
        <app-card [cardClass]="'tab-card'" [cardOptionBlock]="true">
          <div class="md-tabs">
            <ngb-tabset>
              <ngb-tab title="Wallets">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <ng-template [ngIf]="wallets.length === 0">
                        <h3 class="text-center mt-5 mb-3">You Have No Wallets. Generate One Below.</h3>
                    </ng-template>
                    <ng-template [ngIf]="wallets.length !== 0">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th></th>
                            <th>ID</th>
                            <th># of Addresses</th>
                            <th>Addresses</th>
                            <th>Wallet Balance</th>
                            <th>Actions</th>
                          </tr>
                          
                              <tr *ngFor="let wallet of wallets">
                                  <td><img src="assets/images/wallet.png" class="img-fluid" width="30" height="30"></td>
                                  <td>{{wallet.id}}</td>
                                  <td>{{wallet.addresses.length}}</td>
                                  <td>
                                    <span *ngFor="let address of wallet.addresses">{{address}}<br /></span>
                                  </td>
                                  <td><h6>{{wallet.balance}} POL</h6></td>
                                  <td><span class="label label-primary">Export Keys</span> <span class="label label-danger">Delete</span></td>
                              </tr>
                          
                        </table>
                      </div>
                    </ng-template>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Transfer History">
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th>Transfer ID</th>
                            <th>Amount (USD)</th>
                            <th>Amount (POL)</th>
                            <th>Payout Method</th>
                            <th>Initiated On</th>
                            <th>Status</th>
                          </tr>
                          <tr>
                            <td>139-181903u10u338gu19y3-g13</td>
                            <th>$129.97</th>
                            <th>1298</th>
                            <td>Bank Account</td>
                            <td>04-27-18</td>
                            <td>Pending</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
            </ngb-tabset>
          </div>
        </app-card>
      </div>
    <!-- Wallets Table End -->

    <!-- Config Cards Start -->
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
              <h3>Generate A Wallet</h3>
              <img src="assets/images/wallet.png" class="img-fluid" width="100" height="100">
              <h4 class="m-t-20">You currently have <span class="text-c-green">{{wallets.length}}</span> wallet(s)</h4>
              <p class="m-b-20">Enter a password for a new wallet.</p>
              <input type="password" class="form-control m-b-20 m-t-20" placeholder="Wallet Password">
              <input type="password" class="form-control m-b-20 m-t-20" placeholder="Confirm Wallet Password">
              <button class="btn btn-primary btn-sm btn-round">Generate Wallet</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
              <h3>Generate An Address</h3>
              <img src="assets/images/address.png" class="img-fluid" width="75" height="75">
              <p class="m-b-20 m-t-20">Enter the Wallet ID</p>
              <input type="text" class="form-control m-b-20 m-t-20" placeholder="Ex: a6ffed9-4252-427e-af7d-3dcaaf2db2df">
              <button class="btn btn-danger btn-sm btn-round">Generate Address</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
              <h3>Export Wallets</h3>
              <img src="assets/images/export.png" class="img-fluid" width="75" height="75">
              <h4 class="m-t-20 text-c-yellow">Export Your wallet(s)</h4>
              <button class="btn btn-warning btn-sm btn-round m-t-5">Export All Wallets</button>
            </div>
        </div>
    </div>
    <!-- Config Cards End -->

  </div>
</div>