<div class="page-body">
  <div class="row">
    <!-- tabs card start -->
    <div class="col-sm-12">
      <app-card [cardClass]="'tab-card'" [cardOptionBlock]="true">
        <div class="md-tabs">
          <ngb-tabset>
            <ngb-tab title="Home">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod2.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002344</td>
                        <td>John Deo</td>
                        <td>05-01-2017</td>
                        <td><span class="label label-danger">Failed</span></td>
                        <td>#7234486</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod3.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002653</td>
                        <td>Eugine Turner</td>
                        <td>04-01-2017</td>
                        <td><span class="label label-success">Delivered</span></td>
                        <td>#7234417</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Security">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod3.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002653</td>
                        <td>Eugine Turner</td>
                        <td>04-01-2017</td>
                        <td><span class="label label-success">Delivered</span></td>
                        <td>#7234417</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Entertainment">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod1.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002413</td>
                        <td>Jane Elliott</td>
                        <td>06-01-2017</td>
                        <td><span class="label label-primary">Shipping</span></td>
                        <td>#7234421</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Big Data">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod1.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002413</td>
                        <td>Jane Elliott</td>
                        <td>06-01-2017</td>
                        <td><span class="label label-primary">Shipping</span></td>
                        <td>#7234421</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod2.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002344</td>
                        <td>John Deo</td>
                        <td>05-01-2017</td>
                        <td><span class="label label-danger">Failed</span></td>
                        <td>#7234486</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </app-card>
    </div>
    <!-- tabs card end -->

    <!-- social statustic start -->
    <div class="col-md-12 col-lg-4">
      <div class="card chat-card">
        <div class="card-header">
          <h5>Chats</h5>
        </div>
        <div class="card-block">
          <div class="media received-chat">
            <img class="align-self-start mr-3 img-radius img-40" src="assets/images/avatar-2.jpg" alt="usrer image">
            <div class="media-body">
              <h6 class="mt-0">John Deo</h6>
              <p class="m-t-10 msg">Lorem Ipsum is simply dummy text of the printing industry.</p>
              <p class="text-muted">10:53am</p>
            </div>
          </div>
          <div class="chat-saprator"><span>Today</span></div>
          <div class="media send-chat">
            <div class="media-body">
              <h6 class="mt-0">John Deo</h6>
              <p class="m-t-10 msg">Lorem Ipsum is simply dummy text of the printing industry.</p>
              <p class="text-muted">10:53am</p>
            </div>
            <img class="align-self-start ml-3 img-radius img-40" src="assets/images/avatar-4.jpg" alt="usrer image">
          </div>
          <div class="media received-chat">
            <img class="align-self-start mr-3 img-radius img-40" src="assets/images/avatar-2.jpg" alt="usrer image">
            <div class="media-body">
              <h6 class="mt-0">John Deo</h6>
              <p class="m-t-10 msg">Lorem Ipsum is simply dummy text of the printing industry.</p>
              <p class="text-muted">10:53am</p>
            </div>
          </div>
        </div>
        <div class="card-footer chat-control">
          <div class="chat-form">
            <input type="text" class="form-control search-text" placeholder="Type Hear . .">
            <div class="chat-btn">
              <button class="btn btn-primary btn-icon"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8">
      <app-card [title]="'Activity'">
        <ul class="activity-blog">
          <li>
            <div class="activity-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6 class="m-b-0">John Deo <small class="text-muted"> 2 hours ago</small></h6>
            <p class="m-b-15">Assign a new Task <span class="text-c-blue">Design Web Mockup</span></p>
            <div class="row m-b-15">
              <div class="col-auto text-center m-b-5 m-t-5">
                <img src="assets/images/blog/blog-r-1.jpg" alt="img" class="img-fluid img-100">
              </div>
              <div class="col-auto text-center m-b-5 m-t-5">
                <img src="assets/images/blog/blog-r-2.jpg" alt="img" class="img-fluid img-100">
              </div>
              <div class="col-auto text-center m-b-5 m-t-5">
                <img src="assets/images/blog/blog-r-3.jpg" alt="img" class="img-fluid img-100">
              </div>
              <div class="col-auto text-center m-b-5 m-t-5">
                <img src="assets/images/blog/blog-r-2.jpg" alt="img" class="img-fluid img-100">
              </div>
            </div>
            <a href="javascript:" class="m-r-10"><i class="fa fa-comment text-c-blue m-r-5"></i> 3 Comments</a>
            <a href="javascript:"> <i class="fa fa-heart text-c-pink m-r-5"></i> 5 Like</a>
          </li>
          <li>
            <div class="activity-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6 class="m-b-0">John Deo <small class="text-muted"> 2 hours ago</small></h6>
            <div class="row m-b-15 m-t-15">
              <div class="col-auto col-sm-3">
                <img src="assets/images/blog/blog-r-1.jpg" alt="img" class="img-fluid img-100">
              </div>
              <div class="col-sm-auto col-sm-9">
                <p class="m-b-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <button class="btn btn-primary btn-round btn-sm">Design Web Mockup</button>
              </div>
            </div>
            <a href="javascript:" class="m-r-10"><i class="fa fa-comment text-c-blue m-r-5"></i> 3 Comments</a>
            <a href="javascript:"> <i class="fa fa-heart text-c-pink m-r-5"></i> 5 Like</a>
          </li>
          <li>
            <div class="activity-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6 class="m-b-0">John Deo <small class="text-muted"> 2 hours ago</small></h6>
            <p class="m-b-15 m-t-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="javascript:" class="m-r-10"><i class="fa fa-comment text-c-blue m-r-5"></i> 3 Comments</a>
            <a href="javascript:"> <i class="fa fa-heart text-c-pink m-r-5"></i> 5 Like</a>
          </li>
        </ul>
      </app-card>
      <!-- social statustic end -->
    </div>
    <!-- social statustic end -->

    <!-- activity feed start -->
    <div class="col-sm-12">
      <app-card [title]="'Activity Feed'" [cardOptionBlock]="true">
        <ul class="feed-blog">
          <li class="active-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-danger">File</span> Eddie uploaded new files: <small class="text-muted"> 2 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="row">
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-1.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Old Scooter</h6>
                <p class="text-muted m-b-0"><small>PNG-100KB</small></p>
              </div>
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-2.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Wall Art</h6>
                <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
              </div>
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-3.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Microphone</h6>
                <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
              </div>
            </div>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-success">Task</span>Sarah marked the Pending Review: <span class="text-c-green"> Trash Can Icon Design</span><small class="text-muted"> 2 hours ago</small></h6>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-primary">comment</span> abc posted a task:  <span class="text-c-green">Design a new Homepage</span>  <small class="text-muted"> 6 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </li>
        </ul>
      </app-card>
    </div>
    <!-- activity feed end -->

    <!-- Recent Orders start -->
    <div class="col-sm-12">
      <app-card [title]="'Recent Orders'" [blockClass]="'p-0'">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Product Code</th>
              <th>Customer</th>
              <th>Purchased On</th>
              <th>Status</th>
              <th>Transaction ID</th>
            </tr>
            <tr>
              <td><img src="assets/images/product/prod1.jpg" alt="prod img" class="img-fluid"></td>
              <td>PNG002413</td>
              <td>Jane Elliott</td>
              <td>06-01-2017</td>
              <td><span class="label label-primary">Shipping</span></td>
              <td>#7234421</td>
            </tr>
            <tr>
              <td><img src="assets/images/product/prod2.jpg" alt="prod img" class="img-fluid"></td>
              <td>PNG002344</td>
              <td>John Deo</td>
              <td>05-01-2017</td>
              <td><span class="label label-danger">Failed</span></td>
              <td>#7234486</td>
            </tr>
            <tr>
              <td><img src="assets/images/product/prod3.jpg" alt="prod img" class="img-fluid"></td>
              <td>PNG002653</td>
              <td>Eugine Turner</td>
              <td>04-01-2017</td>
              <td><span class="label label-success">Delivered</span></td>
              <td>#7234417</td>
            </tr>
            <tr>
              <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
              <td>PNG002156</td>
              <td>Jacqueline Howell</td>
              <td>03-01-2017</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>#7234454</td>
            </tr>
          </table>
        </div>
      </app-card>
    </div>
    <!-- Recent Orders end -->
  </div>
</div>
